
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary: #17265D;
    --secondary: #6B5B80;
    --black: #000;
    --white: #fff;
}

.line{
    width: 90px;
    height: 3px;
    margin-top: 10px;
    background-color: var(--primary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r_form{
    height: 80%;
    width: 80%;
    display: flex;
}

.img_box{
    width: 40%;
}

.i_img{
    width: 100%;
    height: 100%;
}

.form_box{
    width: 60%;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
}

.form_heading{
    margin-bottom: 35px;
    text-align: left;
}

.form_heading h1{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--secondary);
}

.input_group{
    border: 1px solid var(--black);
    display: flex;
}

i{
    padding: 15px 18px;
    background-color: var(--secondary);
    color: var(--white);
}

.form_input{
    padding: 9px 10px;
    outline: none;
    border: none;
    width: calc(100% - 50px);
}

.form_cta{
    outline: none;
    width: 100%;
    padding: 8px;
    background-color: var(--secondary);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 4px;
}