html, body
{
    width: 50%;
    margin: 0 auto;
}

.container {
width: 360px;
}

#inputField
{
  width: 300px;
  height: 45px;
  border: 1px solid black;
  font-size: 25px;
  vertical-align: middle;
}

.to-dos
{
    margin-top: 25px;
}