@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    color: white;
    position: absolute;
    top: 25%;
    left: 40%;
}

.container h1{
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0;
    font-family: 'Heebo', sans-serif;
}

.box{
    width: 100%;
    border-bottom: 2px solid purple;
    margin: 24px 0;
}

.box input{
    background: none;  /* To make transparent */
    width: 75%;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
    border: none;
}

.box i{
    width: 25px;
    text-align: center;
}

.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 6px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color: white;
    padding: 10px 21px;
    font-weight: bold;
}

.btn:hover{
    opacity: 0.5;
    color: purple;
    background: white;
}

