@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  &::-webkit-scrollbar{
    display: none;
  }
}

a,h2{
  color:white;
}

a{

  text-decoration: none;
}

$bg:rgb(16,16,16);
.header{
    height: 100px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: space-between;
    >img{
        height: 100%;
    }

    >div{
        width: 100%;
        margin-left: 4vmax;
        font-size: 1.3rem;
        font-weight: 300;


        >a{
          margin: 2vmax;
        }
    }

    >svg{
        color: white;
        font-size: 2rem;
        cursor: pointer;

        &:hover{
          color: rgb(216,216,216);
        }
    }
}
