body 
{
  text-align: center;
  background-color:rgb(70, 6, 20);
}

#level-title 
{
  font-family: 'Press Start 2P';
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 80px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.key
{
  background-color: white;
  padding:17px 10px 10px 17px;
  border: 2px solid black;
  border-radius:10%;
  color: rgb(32, 32, 32);
  position:relative;
  text-shadow: none;
  cursor: pointer;
}

.container 
{
  display: block;
  min-width: 50%;
  margin: auto;
}

.btn 
{
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over 
{
  background-color: red;
  opacity: 0.8;
}

.red 
{
  background-color: red;
}

.green 
{
  background-color: green;
}

.blue 
{
  background-color: blue;
}

.yellow 
{
  background-color: yellow;
}

.pressed 
{
  box-shadow: 0 0 20px white;
  background-color: grey;
}

p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 50px;
}

a
{
  color:grey;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}
